/* Import the Inconsolata font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

/* Apply default styles to all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

/* Apply styles to the body element */
body {
    width: 100%;
    height: 100vh;
    /* Create a linear gradient background */
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Apply styles to the calculator container */
.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

/* Apply styles to the input element */
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

/* Apply styles to the input placeholder */
input::placeholder{
    color: #ffffff;
}

/* Apply styles to all buttons */
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background-color: rgb(219, 117, 28);
    color: #ffffff;
    font-size: 25px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

/* Apply styles to the extra buttons */
.extraBtn{
    background-color: rgb(219, 66, 28);
}

/* Apply styles to the math operator buttons */
.MathBtn{
    background-color: rgb(28, 136, 219);
}

/* Apply styles to the equals button */
.equalBtn{
    background-color: rgb(32, 151, 80);
}
